* {
  box-sizing: border-box;
}

body {
  background-color: #23252c;
}

h1, h2, h3, h4, p {
  font-family: "Inter", sans-serif;
  margin: 0px;
}

.card {
  margin: 50px auto; /*margin of 50px top and bottom*/
  width: 317px;
  height: 780px;
  border-radius: 10px;
  background-color: #1A1B21;
}

.profileImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 317px;
  height: 317px;
}

.profileTitle--div {
  text-align: center;
}

.title--name,
.title--career,
.title--website {
  text-align: center;
}

.title--name {
  font-size: 25px;
  color: #FFFFFF;
  margin: 0px;
  margin-top: 21px;
}

.title--career {
  font-size: 12.8px;
  color: #F3BF99;
  margin: 0px;
  margin-top: 6.19px;
}

.title--website {
  font-size: 10.24px;
  line-height: 1.5em;
  color: #F5F5F5;
  margin: 0px;
  margin-top: 8.81px;
  text-decoration: none;
}

.title--website:hover {
  font-size: 10.24px;
  line-height: 150%;
  color: lightblue;
  margin: 0px;
  margin-top: 8.81px;
  text-decoration: none;
}

.title--socialButtons--div {
  display: flex;
  justify-content: space-evenly;
}

.title--socialButtons-link{
  text-decoration: none;
}

.title--socialButtons-1 {
  font-size: 16px;
  color: #374151;
  background-color: #FFFFFF;
  width: 247px;
  height: 34px;
  border-radius: 6px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 11px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title--socialButtons-2 {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #5093E2;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 11px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailIcon {
  font-size: 16px;
  margin-right: 8px;
}

.linkedinIcon {
  font-size: 16px;
  margin-right: 8px;
}

.profileDetails--div {
  text-align: start;
  margin: 33px auto 24px auto;
  width: 247px;
  height: 201px;
}

.profileDetails--div > h2 {
  font-size: 16px;
  color: #F5F5F5;
  line-height: 150%;
  font-weight: bold;
}

.profileDetails--div > p {
  font-size: 10.24px;
  color: #DCDCDC;
  line-height: 150%;
}

.profileFooter--div {
  width: 317px;
  height: 64px;
  background-color: #161619;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerIcon{
  font-size: 25px;
  color: #918E9B;
}


